/mysql
/docker/nginx/logs
/docker/traefik/acme
/docker/portainer
/docker/.env
/.env

/code/public/styles/*.css

/code/public/minedmap/data/*
!/code/public/minedmap/data/.gitignore

/code/public/minedmap/data_nether/*
!/code/public/minedmap/data_nether/.gitignore

/code/public/minedmap/data_the_end/*
!/code/public/minedmap/data_the_end/.gitignore