#mapContainer {
    height: 100%;
    width: 100%;
    display: block;

    &.nether {
        background-color: #270505;
    }

    &.the_end {
        background-color: #140e19;
    }

}

.mapAxis {
    width: 100px;
}

.overzoomed {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.leaflet-marker-icon {
    background: white;
    border-radius: 100px;
    padding: 5px;
    box-sizing: content-box;
    box-shadow: 5px 8px 5px 0px rgba(0,0,0,0.46);
}