.navbar {
    background-color: var(--primary);

    .logo {
        width: 100px;
        max-height: 40px;
    }
    
    .dropdown-menu {
        padding: 0.45rem;
        z-index: 1001;
    }

    .submit-dropdown {
        min-width: 100%;
        background-color: var(--gray-2);

        @media (min-width: map-get($grid-breakpoints, "md")) {
            min-width: 25vw;
        }

        input {
            &::placeholder {
                color: var(--gray-2);
            }
        }
    }

    .nav-divider {
        border-right: solid 1px var(--primary-dark);
        margin: 0 1rem;
    }

    .profilePicture {
        width: 28px;
        border-radius: 50%;
        margin-right: 10px;
    }

    #userMenu {
        button {
            padding: 5px 12px;
            border: none;
            border-left: solid 2px #ffffff4a;
            border-radius: 0;
            &:hover {
                background-color: #f8f9fa30;
                color: #fff;
            }
            &:active {
                background-color: #f8f9fa;
            }
        }
    }

}